<div class='row-fluid'>
  <div class='span12'>
    <ul class='percentage-chart'>
    <% HappinessValue.names.each do |happiness_value| %>
      <li data-percentage="<%= average_happiness_distribution(type, happiness_value) %>" data-happiness-value="<%= happiness_value %>">
        <div class='item-content'>
          <%= number_to_percentage(average_happiness_distribution(type, happiness_value), :precision => 2) %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>