<div class='row-fluid key-block'>
  <div class='align-right span12'>
    <div class="key title">Key</div>
    <div class="key happy">Happy</div>
    <div class="key ok">Ok</div>
    <div class="key sad">Sad</div>
  </div>     
</div>