<% metric_values.in_groups_of(4, false).each do |metric_values| %>
  <div class='row-fluid'>
    <% metric_values.each do |metric_value| %>
      <%= render 'metric_values/form', :metric_value => metric_value %>
    <% end %>
  </div>
</div>
<% end %>