<div class='row-fluid week-block'>
  <div class='center span12'>
    <div id="weeks-title"><span>Weeks</span></div>
    <% (current_beginning_of_month_day..current_beginning_of_month_day.end_of_month).to_a.each do |date| %>
      <% next unless date.monday? %>
      <%= link_to week_description(date), week_path(date.day, date.month, date.year), :class => "btn" %>
    <% end %>
  </div>     
</div>