<div class="row-fluid">

  <% (beginning_of_week_day..beginning_of_week_day.end_of_week).to_a.each do |date| %>
    <div class='<%= span(date) %> <%= offset(date) %>'>
      <div class='overview-day'>
        <div class='day-indicator'><%= date.day %></div>
        <div class='inner-content'>
          <%= render 'shared/happiness_distribution', :uid => uid_for_day(date), :type => "day" unless date.saturday? || date.sunday? %>
        </div>
      </div>
    </div>
  <% end %>

</div>