// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#main-container {
  display: none;
}

div.overview-day {
  background-color: #fff;
  padding: 10px;
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
   -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
}

div.overview-day div.inner-content {
  font-size: 120%;
  margin-left: 25px;
}

div.overview-day div.day-indicator {
  position: absolute;
  color: #ccc;
  font-size: 150%;
}

div.align-left {
  text-align: left;
}

div.center {
  text-align: center;
}

div.align-right {
  text-align: right;
}

div.title-block {
  border-bottom: 1px solid #D4D4D4;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

div.title-block a.btn {
  margin-top: 15px;
}

div.week-block {
  border-bottom: 1px solid #D4D4D4;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

div.week-block div#weeks-title {
  display: inline-block;
  font-family: 'Unica One', cursive;
  font-size: 20px;
  margin-right: 10px;

}

div.week-block div#weeks-title span {
  line-height: 8px;
  display: block;
}

a#metrics-button {
  position: absolute;
  right: 25px;
  top: 15px;
}

div.no-entries {
  margin-bottom: 100px;
}
