// Place all the styles related to the Metrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.details div.percentage-chart-holder {
   height: 50px;
   margin-bottom: 10px;
}

div.details ul.percentage-chart {
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
}

div.details ul.percentage-chart li {
  font-family: 'Unica One', cursive;
  display: inline-block;
  float: left;
  margin: 0;
  height: 50px
}

div.details ul.percentage-chart li.clear {
  clear: both;
}

div.details ul.percentage-chart li div.item-content {
  line-height: 50px;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

div.details ul.percentage-chart li:last {
  clear: both;
}

div.details ul.percentage-chart li.happy {
  background-color: rgba(163,184,119,0.75);
}

div.details ul.percentage-chart li.ok {
  background-color: rgba(69,114,167,0.75);
}

div.details ul.percentage-chart li.sad {
  background-color: rgba(170,70,76,0.75);
}

div.metric-value-item {
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 30px;
}

div.metric-value-item input {
  font-size: 18px;
  width: 100px;
}

div.metric-value-item i {
  margin-left: 5px;
  margin-top: 12px;
  float: left;
}

div.metric-value-item div.metric-status {
  padding: 0 15px 0 15px;
  background-color: #efefef;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: right;
  border-radius: 3px;
}

div.metric-value-item div.metric-status.above-average {
  color: #fff;
  background-color: rgba(163,184,119,0.75);
}

div.metric-value-item div.metric-status.below-average {
  color: #fff;
  background-color: rgba(69,114,167,0.75);
}

div.metric-value-item h3 {
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  margin-left: 5px;
}

div.row-metrics {
  margin-bottom: 10px;
}

div#entries_graph {
  margin-top: 20px;
}

div.border-right {
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

div.border-bottom {
  border-bottom: 1px solid #ccc;
}

.clear {
  clear: both;
}

div.key {
  display: inline-block;
  padding: 2px;
  width: 40px;
  border-radius: 2px;
  font-size: 11px;
  color: #fff;
  text-align: center;
}

div.key.title {
  color: #333;
}

div.key.happy {
  background-color: rgba(163,184,119,0.75);
}

div.key.ok {
  background-color: rgba(69,114,167,0.75);
}

div.key.sad {
  background-color: rgba(170,70,76,0.75);
}

div.key-block {
  margin-top: -15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 2px;
}

